<h1>My Food List</h1>
<div id="foods">
<app-food [img]="img1" title="Pizzas"></app-food>
<app-food [img]="img2" title="Biryani"></app-food>
<app-food [img]="img3" title="Dosa"></app-food>
<app-food [img]="img4" title="Cake"></app-food>
<app-food [img]="img5" title="Noodles"></app-food>
</div><br><br>
<div id="foods">
    <app-food [img]="img1" title="Pizzas"></app-food>
    <app-food [img]="img2" title="Biryani"></app-food>
    <app-food [img]="img3" title="Dosa"></app-food>
    <app-food [img]="img4" title="Cake"></app-food>
    <app-food [img]="img5" title="Noodles"></app-food>
</div><br><br>
<div id="foods">
    <app-food [img]="img1" title="Pizzas"></app-food>
    <app-food [img]="img2" title="Biryani"></app-food>
    <app-food [img]="img3" title="Dosa"></app-food>
    <app-food [img]="img4" title="Cake"></app-food>
    <app-food [img]="img5" title="Noodles"></app-food>
</div><br><br>
<div id="foods">
    <app-food [img]="img1" title="Pizzas"></app-food>
    <app-food [img]="img2" title="Biryani"></app-food>
    <app-food [img]="img3" title="Dosa"></app-food>
    <app-food [img]="img4" title="Cake"></app-food>
    <app-food [img]="img5" title="Noodles"></app-food>
</div><br><br>
<div id="foods">
    <app-food [img]="img1" title="Pizzas"></app-food>
    <app-food [img]="img2" title="Biryani"></app-food>
    <app-food [img]="img3" title="Dosa"></app-food>
    <app-food [img]="img4" title="Cake"></app-food>
    <app-food [img]="img5" title="Noodles"></app-food>
</div><br><br>
<div id="foods">
    <app-food [img]="img1" title="Pizzas"></app-food>
    <app-food [img]="img2" title="Biryani"></app-food>
    <app-food [img]="img3" title="Dosa"></app-food>
    <app-food [img]="img4" title="Cake"></app-food>
    <app-food [img]="img5" title="Noodles"></app-food>
</div><br><br>
<div id="foods">
    <app-food [img]="img1" title="Pizzas"></app-food>
    <app-food [img]="img2" title="Biryani"></app-food>
    <app-food [img]="img3" title="Dosa"></app-food>
    <app-food [img]="img4" title="Cake"></app-food>
    <app-food [img]="img5" title="Noodles"></app-food>
</div><br><br>
<div id="foods">
    <app-food [img]="img1" title="Pizzas"></app-food>
    <app-food [img]="img2" title="Biryani"></app-food>
    <app-food [img]="img3" title="Dosa"></app-food>
    <app-food [img]="img4" title="Cake"></app-food>
    <app-food [img]="img5" title="Noodles"></app-food>
</div><br><br>
<div id="foods">
    <app-food [img]="img1" title="Pizzas"></app-food>
    <app-food [img]="img2" title="Biryani"></app-food>
    <app-food [img]="img3" title="Dosa"></app-food>
    <app-food [img]="img4" title="Cake"></app-food>
    <app-food [img]="img5" title="Noodles"></app-food>
</div><br><br>
<div id="foods">
    <app-food [img]="img1" title="Pizzas"></app-food>
    <app-food [img]="img2" title="Biryani"></app-food>
    <app-food [img]="img3" title="Dosa"></app-food>
    <app-food [img]="img4" title="Cake"></app-food>
    <app-food [img]="img5" title="Noodles"></app-food>
</div><br><br>
<div id="foods">
    <app-food [img]="img1" title="Pizzas"></app-food>
    <app-food [img]="img2" title="Biryani"></app-food>
    <app-food [img]="img3" title="Dosa"></app-food>
    <app-food [img]="img4" title="Cake"></app-food>
    <app-food [img]="img5" title="Noodles"></app-food>
</div>